<div class= "cards">
<div class="card">
  <img src="img/prod1.jpg" alt="image1"> 
  <h3>Promotional Video</h3>
</div>
<div class="card">
  <img src="img/prod2.jpg" alt="image2"> 
  <h3>Instagram Reel</h3>
</div>
<div class="card">
  <img src="img/prod3.jpg" alt="image3"> 
  <h3>Stand-Up Special</h3>
</div>
<div class="card">
  <img src="img/prod4.jpg" alt="image4"> 
  <h3>Stand-Up Special</h3>
</div>
<div class="card">
  <img src="img/prod5.jpg" alt="image5"> 
  <h3>Custome Error 404 page</h3>
</div>
<div class="card">
  <img src="img/prod6.jpg" alt="image6"> 
  <h3>Website Redesign</h3>
</div>
</div>
